/* app css stylesheet */
/* line 3, ../scss/_app-xs.scss */
body {
  padding-top: 90px;
  background: #000000;
  color: #ffffff;
}

/* line 9, ../scss/_app-xs.scss */
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* line 14, ../scss/_app-xs.scss */
.social-metric-count {
  font-size: 26px;
  text-align: center;
}

/* line 19, ../scss/_app-xs.scss */
.list-group-item {
  min-height: 60px;
}

/* line 26, ../scss/_app-xs.scss */
.table-hover > tbody > tr:hover {
  background-color: #449d44;
}

/* line 33, ../scss/_app-xs.scss */
.btn {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 39, ../scss/_app-xs.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ==== Title Screen ==== */
/* line 48, ../scss/_app-xs.scss */
.titleScreen h1 {
  text-align: center;
  color: #ffffff;
}
/* line 54, ../scss/_app-xs.scss */
.titleScreen ul li {
  text-align: center;
}

/* ==== New Game ==== */
/* line 66, ../scss/_app-xs.scss */
.newGame .table-hover > tbody > tr:hover {
  cursor: pointer;
}
/* line 71, ../scss/_app-xs.scss */
.newGame .table-hover > tbody > tr.selected > td {
  background-color: #449d44;
}
