/* app css stylesheet */

body {
  padding-top: 90px;
  background: #000000;
  color: #ffffff;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.social-metric-count {
  font-size: 26px;
  text-align: center;
}

.list-group-item {
  min-height: 60px;
}

.table-hover {
  > tbody {
    > tr {
      &:hover {
        background-color: #449d44;
      }
    }
  }
}

.btn {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ==== Title Screen ==== */

.titleScreen {
  h1 {
    text-align: center;
    color: #ffffff;
  }

  ul {
    li {
      text-align: center;
    }
  }
}

/* ==== New Game ==== */

.newGame {
  .table-hover {
    > tbody {
      > tr {
        &:hover {
          cursor: pointer;
        }

        &.selected {
          >td {
            background-color: #449d44;
          }
        }
      }
    }
  }
}